ALTER PROCEDURE [dbo].[sp_EditName]
	@Username VARCHAR(50),
	@Name VARCHAR(20)
AS
BEGIN
	UPDATE [User]
	SET Nume=@Name WHERE Username=@Username
	IF @@ROWCOUNT >=1
		SELECT 1 AS Result;
	ELSE
		SELECT -1 AS Result;
END