ALTER PROCEDURE [dbo].[sp_EditPrenume]
	@Username VARCHAR(50),
	@Prenume VARCHAR(20)
AS
BEGIN
	UPDATE [User]
	SET Prenume=@Prenume WHERE Username=@Username;
	IF @@ROWCOUNT>=1
	 SELECT 1 AS Result
	ELSE SELECT -1 AS Result
END