ALTER PROCEDURE [dbo].[sp_EditPin]
	@Username VARCHAR(50),
	@Pin INT
AS
BEGIN
	UPDATE [User]
	SET Pin=@Pin WHERE Username=@Username
	IF @@ROWCOUNT >=1
		SELECT 1 AS Result
	ELSE 
		SELECT -1 AS Result
END
