ALTER PROCEDURE [dbo].[sp_EditUsername]
	@Username VARCHAR(50),
	@NewUsername VARCHAR(50)
AS
BEGIN
	IF (SELECT COUNT(*) FROM [User] WHERE Username=@NewUsername)>0
		SELECT -1 AS Result;
	ELSE
		BEGIN
			DECLARE @UserId INT;
			SELECT @UserId=ID FROM [User] WHERE Username=@Username
			UPDATE [User]
			SET Username=@NewUsername WHERE ID=@UserId;
			SELECT 1 AS Result;

		END
END
