ALTER PROCEDURE [dbo].[sp_Register]
	@Username VARCHAR(50),
	@Pin INT,
	@Nume VARCHAR(20),
	@Prenume VARCHAR(20),
	@SoldCash DECIMAL(18,0),
	@SoldCard DECIMAL(18,0)
AS
BEGIN
	IF(SELECT COUNT(*) FROM [User] WHERE Username = @Username)>0
		BEGIN
		 SELECT -1 AS Result;
		END
	ELSE
		BEGIN
			INSERT INTO [User](Username,Pin,Nume,Prenume,SoldCash,SoldCard)
			VALUES(@Username,@Pin,@Nume,@Prenume,@SoldCash,@SoldCard);
			SELECT SCOPE_IDENTITY() AS Result;
		END
END




